extends statsBase

block content
  // Centered content
  #game-setup
    h1 Game Setup

    // Form for creating a team
    form(action="/teams", method="POST")
      label(for="teamName") Team Name:
      input(type="text", name="teamName", id="teamName", required)
      br
      label(for="teamPlayers") Players:
      input(type="text", name="teamPlayers", id="teamPlayers", required)
      br
      button(type="submit") Create Team

    // Form for creating a player
    form(action="/players", method="POST")
      label(for="playerName") Player Name:
      input(type="text", name="playerName", id="playerName", required)
      br
      label(for="playerTeam") Team:
      select(name="playerTeam", id="playerTeam")
        option(value="") Select a team
        // Iterate over teams to populate the options
        each team in teams
          option(value=team._id) #{team.name}
      br
      button(type="submit") Create Player

    // Section for displaying existing teams
    h2 Existing Teams
    each team in teams
      div
        h3 #{team.name}
        p Players: #{team.players.join(', ')}

    // Section for displaying existing players
    h2 Existing Players
    each player in players
      div
        h3 #{player.name}
        p Team: #{player.team}

    // Additional sections for delete and update operations
