html(lang="en")
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title= title
  // CSS link
  link(rel="stylesheet", href="/css/gaa.css")
  // Font Awesome CDN
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
  // Add the link to the custom CSS file for RecordStats page
  link(rel="stylesheet", href="/css/gaa.css")

body
  #container
    // logo
    #logo TírStats

    // Navigation buttons
    #navigation-buttons
      a.back-to-record-games-btn.btn.btn-secondary(href="/recordGames") Back to Record Games
      a.dashboard-btn.btn.btn-secondary(href="/dashboard") Dashboard
      a.view-game-stats-btn.btn.btn-primary(href=`/gameStats/${gameSetupData._id}`) Game Stats
      a.logout-btn.btn.btn-secondary(href="/logout") Logout

    // CONTENT
    // Specific content for the Record Stats page
    div#record-stats-page
      // Heading
      h1#record-stats-heading Record Game Stats

      // Timer section
      div#timer-section
        label(for="half-duration-dropdown") Choose Half Duration:
        select#half-duration-dropdown
          option(value="30") 30 mins
          option(value="35") 35 mins

        button#start-timer-btn.btn.btn-primary(type="button") Start/Restart Timer
        button#pause-timer-btn.btn.btn-secondary(type="button") Pause Timer
        button#reset-timer-btn.btn.btn-secondary(type="button") Reset Timer

        // Timer display
        div#timer
          | 00:00

      // Pitch image container
      div#pitch-container
        // Replace "path_to_pitch_image" with the correct image path
        img.pitch-image(src="/img/pitch.jpg", alt="Pitch Image")

        // Buttons container
        div#buttons-container
          // Dynamically generate buttons for each player's position
          each playerSetup in gameSetupData.playerSetup
            // Add appropriate class for each player's position
            div.record-stat-btn.btn.btn-primary(data-player-id=playerSetup.playerId data-position=playerSetup.position class=`record-stat ${playerSetup.position}`) Record Stat for #{playerSetup.position}

  // Add any additional JavaScript specific to the recordStats page here
  script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js")
  script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
  script(type="module", src="/js/recordStats.js")

