doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Total Stats Chart
    // CSS link
    link(rel="stylesheet", href="/css/gaa.css")
    // Font Awesome CDN
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    // Include Chart.js library
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
  body
    div#container
      // logo
      div#logo TírStats

      // Navigation buttons
      div#navigation-buttons
        // Inside your Pug template
        button#back-button.btn.btn-secondary(type="button") Back to Game Stats
        a.dashboard-btn.btn.btn-secondary(href="/dashboard") Dashboard
        a.logout-btn.btn.btn-secondary(href="/logout") Logout

      // Display game setup information at the top
      div#game-setup-info-center
       h1 Total Stats Chart
        h2= `${gameSetup.oppositionName} - ${selectedTeamName}`
        p= gameSetup.gameDescription

      // Display the total stats chart canvas
      div#chart-container
        canvas#total-stats-chart
        

      // Hidden input field for statTotals data
      input#stat-totals-data(type="hidden", value=JSON.stringify(statTotals))

      // Hidden input field for statTypes data
      input#stat-types-data(type="hidden", value=JSON.stringify(statTypes))

      // Include the JavaScript file to render the chart
      script(src="/js/viewTotalStatsChart.js")
